// ================================================================
//  _container.scss — Contenedor central
// ================================================================

.container {
  max-width: $bp-xl;
  width:     100%;
  margin:    0 auto;
  padding:   0 20px;
}
